body {
	font-family: Helvetica;
	color: #313334;
	background: #f9f9f9;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Verdana, sans-serif;
	font-size: 32px;
	margin-left: 32px;
}

#container {
	width: 100%;
	text-align: center;
}

#navigation a {
	padding: 0.5em 1em;
	border-left: 1px solid #ddd;
	font-size: 1.1em;
	text-decoration: none;
}

#navigation a.first {
	border: 0;
}

a {
	text-decoration: none;
	size: 10px;
}

a:link, a:visited {
	color: #6b7b95;
}

a:hover, a:active {
	color: #e79d35;
}
