body {
	line-height: 1.5;
}

#container.notes {
	margin-top: 32px;
	border-bottom: 1px solid #DDD;
}

#submenu {
	background: #EEE url('/warwick/assets/images/gradient-bottom.png') repeat-x scroll left bottom;
	border-bottom: 1px solid #CCC;
	padding: 0.3em 0;
}

#submenu-wrapper {
	height: 23px;
	display: block;
	margin: 0 auto;
	width: 950px;
	font-weight: bold;
}

#submenu-wrapper div {
	color: #222;
	font-size: 0.8em;
}

#submenu-wrapper div span {
	padding-top: 4px;
	display: block;
}

#wrapper {
	background: #F4F5F5 url('/warwick/assets/images/gradient.png') repeat-x scroll left top;
	padding-bottom: 2.5em;
	padding-top: 2.5em;
}

#wrapper .container {
	display: block;
	width: 950px;
	margin: 0 auto;
}

#footer {
	border-top: 1px solid #DDD;
	color: #888;
	font-size: 0.75em;
	padding: 1.5em;
	text-align: center;
}

#main-menu {
	font-size: 0.8em;
	float: left;
	margin-right: 10px;
	width: 150px;
}

#main-menu h4 {
	border-bottom: 1px solid #DDD;
	font-weight: bold;
	margin: 10px 0;
	padding-bottom: 2px;
}

#main-menu div {
	text-align: right;
}

#main-menu a {
	display: block;
	text-decoration: underline;
	font-size: 0.9em;
}

#main {
	float: left;
	margin-right: 10px;
	border-left: 1px solid #DDD;
	margin-left: 14px;
	padding-left: 25px;
	border-right: 1px solid #DDD;
	padding-right: 24px;
	width: 590px;
}

#main h1 {
	padding-bottom: 0.2em;
	font-size: 1.8em;
	font-family: Helvetica;
	margin-left: 0;
}

#main h1, #main h2 {
	border-bottom: 1px solid #DDD;
}

h1, h2, h3, h4 {
	color: #313334;
	font-weight: bold;
	margin-top: -0.4em;
}

h1 {
	margin-bottom: 0.5em;
}

h1 a, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
	color: #C17878;
	text-decoration: none;
}

p {
	margin: 0 0 0.5em;
}

p.description {
	font-size: 1em;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 0.75em;
	margin-top: 1em;
}

h2 a, h2 a:link, h2 a:visited, h2 a:active, h2 a:hover {
	color: #78BA91;
	text-decoration: none;
}

#main h3 {
	margin-top: 1.7em;
	margin-bottom: 0.1em;
	padding-bottom: 0.1em;
}

h3 {
	font-size: 1.1em;
	line-height: 1;
}

#main ul {
	margin-top: 0;
}

pre {
	background: #FFF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	font-size: 12px;
	overflow: auto;
	padding: 5px 7px;
	margin: 1.5em 0;
	white-space: pre;
	font-family: 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
	font-size-adjust: normal;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

#menu {
	margin-right: 0;
	float: left;
	border-right: 0 none;
	width: 70px;
	padding-right: 0;
}

#menu h4 {
	font-weight: bold;
	margin: 0;
	padding: 10px 0;
}

h4 {
	font-size: 1.2em;
	height: 1.25em;
	line-height: 1.25;
	margin-bottom: 1em;
}

#menu a {
	display: block;
	text-decoration: underline;
	font-size: 0.8em;
}

div.clear {
	clear: both;
	height: 50px;
}

ol {
	font-weight: bold;
}

ol li span {
	font-weight: normal;
}