html {
	height: 100%;
}

body {
	line-height: 1.5;
	height: 100%;
}

#container.notes {
	border-bottom: 1px solid #DDD;
	background: #f9f9f9;
	padding-top: 32px;
}

#container.notes h1 {
	padding: 0;
	margin-left: 0;
	font-family: Georgia;
	font-weight: normal;
	font-size: 46px;
	margin-bottom: 0px;
	margin-top: 0;
}

#container.notes div.taglines {
	font-family: Georgia;
	padding-bottom: 1em;
}

#submenu {
	background: #EEE url('../images/gradient-bottom.png') repeat-x scroll left bottom;
	border-bottom: 1px solid #CCC;
	padding: 0;
}

#submenu span {
	color: #999;
	font-family: Georgia;
	margin-left: 20px;
	margin-top: 6px;
	float: left;
}

#submenu-wrapper {
	height: 36px;
	display: block;
	margin: 0 auto;
	width: 950px;
	font-weight: bold;
}

#submenu-wrapper div {
	color: #222;
	font-size: 0.8em;
	text-align: center;
}

#submenu-wrapper div a {
	display: inline-block;
	height: 23px;
	float: right;
	width: 75px;
	padding: 6px 20px 8px 20px;
	border-left: 1px solid #ccc;
	font-size: 16px;
}

#submenu-wrapper div a:hover {
	background: #e4e4e4;
	color: #C17878;
}

#submenu-wrapper div.first a {
	border-right: 1px solid #ccc;
}

#submenu-wrapper div span {
	padding-top: 4px;
	display: block;
}

#super-duper-wrapper {
	height: auto !important;
	margin: 0 auto 0em;
	background: #f4f5f5;
}

#wrapper {
	background: #F4F5F5 url('../images/gradient.png') repeat-x scroll left top;
	padding-bottom: 2.5em;
	padding-top: 2.5em;
}

#wrapper .container {
	display: block;
	width: 950px;
	margin: 0 auto;
}

#wrapper .container.contained .content {
	border: 10px solid #ededed;
	padding: 0px;
	background: white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#wrapper .container.contained .content.error {
	background: #FFEDEF;
	border: 10px solid #FFC2CA;
	color: #C00;
	margin-bottom: 10px;
}

#wrapper .container.contained .content.success {
	background: #E2F9E3;
	border: 10px solid #9C9;
	color: #060;
	margin-bottom: 10px;
}

input.success {
	background: #E2F9E3;
}

input.error {
	background: #FFEDEF;
}

.content h2 {
	background: transparent;
	margin: 0;
	font-family: Georgia;
	color: #C17878;
	padding: 20px;
	font-weight: normal;
	font-size: 24px;
}

.content p {
	border-top: 1px solid #ededed;
	padding: 20px;
	margin: 0;
	font-family: Georgia;
	font-size: 18px;
}

.content.error p,
.content.success p{
	border: none;
}

.content p label {
	margin-right: 20px;
	width: 150px;
	display: inline-block;
}

.content p.submit {
	text-align: center;
}

input.biginput {
	border: 1px solid #ccc;
	width: 600px;
	font-size: 18px;
	font-family: Georgia;
	padding: 5px;
	color: #999;
}

input.bigbutton {
	font-size: 18px;
	font-family: Georgia;
	width: 100px;
	display: inline-block;
	padding: 5px;
	border: 1px solid #ccc;
	background: #EEE url('../images/gradient-bottom.png') repeat-x scroll left bottom;
}

#footer {
	border-top: 1px solid #DDD;
	color: #888;
	font-size: 0.75em;
	padding: 1.5em;
	text-align: center;
}

#main-menu {
	font-size: 0.8em;
	float: left;
	margin-right: 10px;
	width: 150px;
}

#main-menu h4 {
	border-bottom: 1px solid #DDD;
	font-weight: bold;
	margin: 10px 0;
	padding-bottom: 2px;
}

#main-menu div {
	text-align: right;
}

#main-menu a {
	display: block;
	text-decoration: underline;
	font-size: 0.9em;
}

#main {
	float: left;
	margin-right: 10px;
	border-left: 1px solid #DDD;
	margin-left: 14px;
	padding-left: 25px;
	border-right: 1px solid #DDD;
	padding-right: 24px;
	width: 590px;
	height: 100%;
}

#main h1 {
	padding-bottom: 0.2em;
	font-size: 1.8em;
	font-family: Helvetica;
	margin-left: 0;
}

#main h1, #main h2 {
	border-bottom: 1px solid #DDD;
}

h1, h2, h3, h4 {
	color: #313334;
	font-weight: bold;
	background: #f9f9f9;
}

h1 {
	padding-bottom: 0.5em;
}

h1 a, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
	color: #C17878;
	text-decoration: none;
}

p {
	margin: 0 0 0.5em;
}

p.description {
	font-size: 1em;
}

h2 {
	font-size: 1.5em;
	padding-bottom: 0.75em;
	padding-top: 1em;
}

h2 a, h2 a:link, h2 a:visited, h2 a:active, h2 a:hover {
	color: #78BA91;
	text-decoration: none;
}

#main h3 {
	padding-top: 1.7em;
	padding-bottom: 0.1em;
	padding-bottom: 0.1em;
}

h3 {
	font-size: 1.1em;
	line-height: 1;
}

#main ul {
	margin-top: 0;
}

pre {
	background: #FFF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	font-size: 12px;
	overflow: auto;
	padding: 5px 7px;
	margin: 1.5em 0;
	white-space: pre;
	font-family: 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
	font-size-adjust: normal;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

#menu {
	margin-right: 0;
	float: left;
	border-right: 0 none;
	width: 70px;
	padding-right: 0;
}

#menu h4 {
	font-weight: bold;
	margin: 0;
	padding: 10px 0;
}

h4 {
	font-size: 1.2em;
	height: 1.25em;
	line-height: 1.25;
	padding-bottom: 1em;
}

#menu a {
	display: block;
	text-decoration: underline;
	font-size: 0.8em;
}

div.clear {
	clear: both;
	height: 50px;
}

ol {
	font-weight: bold;
}

ol li span {
	font-weight: normal;
}

#uploaders {
	text-align: center;
	height: 110px;
}

#uploaders div.songbox {
	text-align: left;
	display: inline-block;
	background-color: #EEE;
	height: 100%;
	width: 31.3%;
	margin-right: 20px;
	border: 1px solid #CCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	overflow: hidden;
}

#uploaders div.songbox.last {
	margin-right: 0;
}

#uploaders div.songbox h1 {
	font-weight: normal;
	color: #78ba91;
	font-size: 20px;
	background-color: transparent;
	margin: 10px 0px 10px 13px;
	padding: 0;
}

#uploaders div.songbox input {
	margin-left: 13px;
	width: 78%;
	border: 1px solid #ccc;
	font-size: 18px;
	font-family: Georgia;
	padding: 5px;
	color: #999;
}

#uploaders div.songbox div.filecontainer {
	width: 86%;
	overflow: hidden;
}

#uploaders div.songbox input[name="upload"] {
	position: relative;
	text-align: left;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}

#uploaders div.songbox input[name="add"] {
	height: 19px;
	width: 20px;
	background: transparent url('/assets/images/add.png') no-repeat bottom right;
	margin: 0px 0 0 0;
	padding: 0;
	display: inline-block;
	border: none;
	cursor: pointer;
}

#uploaders div.fileinputs {
	position: relative;
}

#uploaders div.fakefile {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#uploaders div.fakefile input[name="fakefile"] {
	background: white url('/assets/images/disk-grayscale.png') no-repeat 10px center;
	cursor: pointer;
}

#uploaders div.fakefile input[name="fakefile"].blank {
	background-image: none;
}

#loadingAnimation {
	display: none;
	margin: 3px 0 0 4px;
}

div.bucket {
	margin-top: 25px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 100%;
	border: 1px solid #CCC;
	background: #EEE url('../images/gradient-bottom.png') repeat-x scroll left bottom;
}

div.bucket div.song {
	border-bottom: 1px solid #CCC;
	padding: 10px;
}

div.bucket div.song.last {
	border: none;
}

div.bucket div.song span.uname {
	color: #999;
	margin-right: 10px;
	font-family: Georgia, serif;
}

div.bucket div.song span.fname {
	color: #78ba91;
}

div.bucket div.song.first span.fname {
	font-weight: bold;
	color: #C17878;
}

div.bucket div.song img {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}

div.fadein {
	opacity: 0;
}